.app {
  font-family: 'Arial', sans-serif;
  color: #333;
  padding: 20px;
  background-color: #f0f8ff;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.date-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
}

.date-filter label {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}

.date-filter input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 25%;
  max-width: 300px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.date-filter input:focus {
  outline: none;
  border-color: #4CAF50;
}

.date-filter .quick-filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.date-filter .quick-filters button {
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  width: 100%;
}

.date-filter .quick-filters button:hover {
  background-color: #76d579;
}

.apply-filter {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30%;
  display: block;
  margin: 10px auto 0;
}

.apply-filter:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .date-filter {
    width: 90%;
    max-width: 100%;
    padding: 15px;
  }

  .date-filter input {
    width: 100%;
    max-width: none;
  }

  .apply-filter {
    width: 100%;
  }

  .date-filter .quick-filters button {
    width: 100%;
  }

  /* Remove logout button on mobile */
  .logout-button {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .date-filter label:nth-of-type(2) {
    margin-left: 50px;
  }
}

.logout-button {
  width: 5%;
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.logout-button:hover {
  background-color: #f5222d;
}
